@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.
    
    fdsdfsdf
    LKNDSLFSD'FSDF'DSFDSFSD
    FVXCVCXVCXV
    SDFDSF
    DSFDSFDFSF
    FS
    
    fdsf</p>
